.DS_Store
*.log
log/*.log
tmp/**/*
doc/api
doc/app
db/*.sqlite3
config/database.yml
public/system/image_uploads/*
public/system/cover_image_uploads/*
public/system/**/*
db/legacy/*
index/**/*
public/system/Archive.zip
*.doc
notes.txt