<% title "Search Results" %>
<h2><%= yield(:title) %></h2>

<% if @items.blank? %>
	<p>Your search for <em><%= params[:title] %></em> returned no results.</p>
<% else %>
    <%= render :partial=>"items/item", :collection=>@items%>
<% end %>
</div>