<% title "Search Results" %>
<h2><%= yield(:title) %></h2>

<% if @items.blank? %>
	<p>Your search for <em><%= params[:title] %></em> returned no results.</p>
<% else %>
<% @items.each do |item| %>
  <p><%= link_to "#{item.title} #{item.subtitle.blank? ? "" : "<br />" + item.subtitle}", item_path(item, :q=>params[:q] )%></p>
<% end %>
<% end %>
</div>