<div id ="main-content">
	<h1>Search results</h1>
	<% if @items.blank? %>
	<p>Your search for <em><%= params[:title] %></em> returned no results.</p>
	<% else %>
<% @items.each do |item| %>
  <p><%= link_to "#{item.title} #{item.subtitle.blank? ? "" : "<br />" + item.subtitle}"%></p>
<% end %>
<% end %>
</div>
