<% title "Admin Dashboard" %>
<h2><%= yield(:title) %></h2>
<p>Hello, <b><%= @current_user.username %></b>. You are now logged in.</p> 
<p>Please see use the options in the sidebar menu to add or edit catalog content.</p>



