<h1>New Exhibition</h1>

<%= form_for(@exhibition) do |f| %>
<% @exhibition.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
 <% end %>
  <%= render :partial => 'form', :locals=>{:f => f} %>
<% end %>

<%= link_to 'Back', exhibitions_path %>
