
<div class="subform">

	<div class="fields">
		<h2>Add a new creator</h2>
	<p>
	  <%= f.label :name %><br />
	  <%= f.text_field :name %> 
	</p>

	<p> <%= remove_child_link "remove this creator", f %></p>
	</div>
</div>