
h1, h2 {
	color:#747496;	
	text-transform:uppercase;
}

a {
  color:#f56a27;
}
a:hover{
  color:#f3c645;
}
label{
	color:#ffffff;
}

div#work-items {
	height:200px;
	width:500px;
	overflow:auto;
	color:#ffffff;
}
div#item-subjects {
	height:200px;
	width:500px;
	overflow:auto;
	color:#ffffff;
}
