body {
  font-family: arial, sans-serif;
  font-size: 12px;
  text-align: center;
  font-weight: 100;
  margin-bottom: 1px;
  background-color: #FFFFFF;
  color:#000000;
}

a {
 text-decoration: none;
 color: #BB0706;
}

a {
  outline: none;
}

a:hover {
 text-decoration:none;
 color:#0521AD;
}

a.submit-button {
 border:1px solid #000000;
 padding:3px;
}

a.submit-button:hover {
  border:1px solid #F5C544;	
}

label {
	font-weight:bold;
}

/* td a, td a img {
  height: 25px;
} */

.menu tr {
  padding: none;
  margin: none;
  border:none;
  font-size:1px;
  line-height:1px;
}
tr#top-menu {
  width: 796px;
}
tr#top-menu td { 
  height:22px;
  /* background-color: #afafaf; */
}


/* page layout */ 

div#page {
  margin-left:auto;
  margin-right:auto;
  width:796px;
  min-height:100%;
}
div#content {
  float:left;
  width:616px; 
  min-height:100%px;
  margin-top: 10px;
  margin-left:22px;
}
div#sidebar-menu {
 float:left;
 width: 160px;
 padding-right: 0px;
 padding-top: 14px;
 background-color: #FFFFFF;
 margin-top: 39px;
 margin-bottom: 8px;
 margin-left: px;

	
}

div.pagination {
	margin-top:1em;
	margin-bottom:1em;
	font-weight: bold;
	margin-left:auto;
  	margin-right:auto;
}

div.bigheader {
 width: 796px;
 background-color: #FFFFFF;
 height: 66px;
 margin-top: 38px;
 margin-bottom: 20px;
}

div.pagebody {
 margin-left: auto;
 margin-right: auto;
 width: 796px;
 text-align: left;
 font-family: helveteca, sans-serif;
}

div.hbreak {
 width: 796px;
 height: 0px;
 color: #D4D4D4;
 border-bottom-style: solid;
 border-bottom-width: 0px;
 
 margin-left: auto;
 margin-right: auto;
 padding-bottom:15px;
 padding-top:2px;
}

div.footer {
  background-color: #FFFFFF;
  width: 753;
  text-align: right;
  font-size: 11px;
  font-weight: bold;
  vertical-align: baseline;

}

div.footerlogo {
  background-color: #FFFFFF;
  width: 36;
  float: right;
  margin-top: 6px;
}


p.breadcrumb {
 font-size: 10px;
 color: #000000;
}

.breadcrumb a {
 color: #BB0706;
}

.breadcrumb a:hover {
 color: #0521AD;
}

div.about {
 margin-top: 10px;
 float: right;
 width: 616px;
 font-size: 12px;
}

div.aboutmenu {
 float:left;
 width: 160px;
 min-height:400px;
 padding-right: 0px;
 padding-top: 14px;
 background-color: #FFFFFF;
 border-right: 1px dotted #747474;
 margin-top: 8px;
 margin-bottom: 8px;
 margin-left: -7px;
}


img.header {
 border: none; 
 margin-top: 10px;
 margin-bottom: 1px;
}

/* rails error styles */

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  width:300px;
  color:#1E3147;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
  color:#1E3147;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: auto;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color:#1E3147;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color:#ffffff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* sidebar */
input.sidebar {
	font-size:.9em;
	width:120px;
}



/* item list page */
div.pagination-links {
	margin-bottom:20px;
	clear:both;
}
div.item {
	clear:both;
	width:592px;
	margin-bottom:10px;
	border: 1px solid #E4E4E4;
	background-color: #F1F1F1;
	overflow:auto;
}
div.item-cover-image-thumb {
	width:140px;
	float:left;
	margin-right:20px;
	margin-left:20px;
	margin-top:30px;
}
.item-cover-image-thumb a:hover img {
	      border: 2px solid #BD0703;
    }
div.item-data {
	width:380px;
	float:left;
	margin-bottom:20px;
	margin-top:27px;
	padding-right:10px;

}
div.item-data-show {
	width:280px;
	float:left;
	margin-bottom:20px;
	margin-top:27px;
	padding-right:10px;

}
div.item-images {
	clear:both;
	width:616px
	margin-bottom:20px;


}
div.item-title {
	font-weight:bold;
}
div.item-cover-image-large{
	width:auto;
	float:left;
	margin-right:20px;
	margin-bottom: 20px;
}

div.item-data div {
    margin-bottom:.25em;
    overflow:auto;
}

div.item-data-show div {
  margin-bottom:.25em;
  overflow:auto;
}
div.item-data>div>span {
	font-weight:bold;
}
div.item-data div.item-content {
  float:left;
  width:250px;
}
div.item-data-show div.item-content {
  float:left;
  width:190px;
}
div.item-vendor-location div.item-content{
  width: 175px;
}
div.item-data-show div.item-label {
  font-weight:bold;
  float:left;
  margin-right:.5em;
}
div.item-data div.item-label {
  font-weight:bold;
  float:left;
  margin-right:.5em;
}
a.digital-asset>img{
	margin-right:8px;
	margin-bottom:8px;
	border:2px solid #B2B2B2;
    
}
a.digital-asset>img:hover {
	border:2px solid #BD0703;
}
div#works-list>div.work {
	margin-bottom:1em;
}

div.sidebar-admin-menu {
	margin-top:20px;
	margin-left:10px;
}
div.sidebar-menu-item {
  margin-bottom:10px;
}
div.admin-link, a.admin-link{
	font-size:1.5em;
	margin-bottom:1em;
}
div.subform{
	background-color:#dadada;
	padding:10px;
	margin-bottom:20px;
}
div.scrolling-subform {
	background-color:#dadada;
	padding:10px;
	margin-bottom:20px;
	height:250px;
	width:300px;
	overflow:auto;
}
table#item-list {
  border-collapse:collapse;
  font-size: 12px;
}
table#item-list td {
  padding:5px;
}
table#item-list tr.odd {
  background-color:#334455;
}
table#item-list td.call-number {
  width:115px;
  text-transform: uppercase;
  font-weight:bold;
}
table#item-list td.title {
  text-transform: uppercase;
  font-weight:bold;
}
table#item-list td.item-id {
  text-transform: uppercase;
  font-weight: bold;
  width:115px;
}
table#item-list td img {
  border: none;
}

#digital-asset-ingest-list, #digital-asset-ingest {
  min-height: 100%;
}