body {
  font-family: arial, sans-serif;
  font-size: 12px;
  text-align: left;
  font-weight: 100;
  margin-bottom: 1px;
  background-color: #1E3147;
  color:#ffffff;
}

a {
 text-decoration: none;
 color: #F56A25;
}

a {
  outline: none;
}

a:hover {
 text-decoration:none;
 color:#F5C544;
}

a.submit-button {
 border:1px solid #F56A25;
 padding:3px;
}

a.submit-button:hover {
  border:1px solid #F5C544;	
}

label {
	font-weight:bold;
}

/* page layout */ 

div#page {
  margin-left:auto;
  margin-right:auto;
  width:940px;
  overflow:auto;
  min-height:100%;
}
div#content {
  float:left;
  width:699px; 
  padding-left:20px;
  border-left: 1px dotted white;
  min-height:100%;
}
div#sidebar-menu {
	float:left;
	width:220px;
	margin-top:20px;
	min-height:100%;
	
}

div.pagination {
	margin-top:1em;
	margin-bottom:1em;
}

/* rails error styles */

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
  width:300px;
  color:#1E3147;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
  color:#1E3147;
}

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: auto;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  color:#1E3147;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color:#ffffff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}

/* sidebar */
input.sidebar {
	font-size:.9em;
	width:120px;
}



/* item list page */
div.pagination-links {
	margin-bottom:20px;
	clear:both;
}
div.item {
	clear:both;
	margin-bottom:40px;
	overflow:auto;

}
div.item-cover-image-thumb {
	width:140px;
	float:left;
	margin-right:20px;
}
div.item-data {
	width:379px;
	float:left;
}
div.item-title {
	font-weight:bold;
}
div.item-cover-image-large{
	width:auto;
	float:left;
	margin-right:20px;	
}

div.item-data>div {
    margin-bottom:.5em;
    clear:both;
    overflow:auto;
}
div.item-data>div>span {
	font-weight:bold;
}
div.item-content {
  float:left;
  width:305px;
}
div.item-label {
  font-weight:bold;
  float:left;
  margin-right:.5em;
}
a.digital-asset>img{
	margin-right:16px;
	margin-bottom:16px;
	border:2px solid white;
    
}
a.digital-asset>img:hover {
	border:2px solid #F5C544;
}
div#works-list>div.work {
	margin-bottom:1em;
}

div.sidebar-admin-menu {
	margin-top:20px;
}
div.admin-link, a.admin-link{
	font-size:1.5em;
	margin-bottom:1em;
}
div.subform{
	background-color:#334455;
	padding:10px;
	margin-bottom:20px;
}
div.scrolling-subform {
	background-color:#334455;
	padding:10px;
	margin-bottom:20px;
	height:250px;
	width:300px;
	overflow:auto;
}
table#item-list {
  border-collapse:collapse;
  font-size: 12px;
}
table#item-list td {
  padding:5px;
}
table#item-list tr.odd {
  background-color:#334455;
}
table#item-list td.call-number {
  width:115px;
  text-transform: uppercase;
  font-weight:bold;
}
table#item-list td.title {
  text-transform: uppercase;
  font-weight:bold;
}
