<% title "Image Types" %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>
  <% for image_type in @image_types %>
    <tr>
      <td><%=h image_type.name %></td>
      <td><%= link_to "Edit", edit_image_type_path(image_type), :class => 'btn btn-edit' %></td>
      <td><%= link_to "Destroy", image_type, :confirm => 'Are you sure?', :method => :delete, :class => 'btn btn-destroy' %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Image Type", new_image_type_path, :class => 'btn btn-new' %></p>
