<%- content_for(:title) { "Reanimation Library - Catalog" } -%>

<h2>Browse by Call Number</h2>
<%= will_paginate(@items) %>
  <div id="item-list">
  <% if logged_in? && current_user.is_administrator? %>
	  <div class="admin-link">
	    <%= link_to "Add a new item", new_item_path %><br />
	  </div> 
	<% end %>
  <%= render :partial => 'item', :collection=>@items %>

  </div>

<%= will_paginate(@items) %>

