<html>
  <head>
  	<%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.2.custom.min', 'application' %>

	<%= stylesheet_link_tag 'application', 'admin', 'ui-lightness/jquery-ui-1.8.2.custom' %>  	
    <%= yield :head%>
  </head>
  <body>
	<div class="content">
	<%= yield %>
	</div>
  </body>
	

</html>